<!DOCTYPE html>
<html class="no-js" lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Earthquake Zen Garden</title>
    <meta
      name="description"
      content="A simple app that shows a homepage with a list of earthquakes."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="Earthquake Zen Garden" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://earthquake-zen-garden.nathanfriend.io/"
    />
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
